.main {
  min-height: 100%;
  overflow: hidden; /* Будет отображаться контент только внутри блочного элемента. Часть контента, выходящая за размеры блочного элемента, будет скрыта. */
  display: flex;
  flex-direction: column;
}